* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

hr {
  margin: 20px 0;
}

#menu {
  width: 80px;
  margin: 10px 8px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  transition: height 2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
}

#menu:hover {
  height: 90vh;
}

#conteneurGauche > div, #conteneurDroit > div {
  padding: 40px;
  background-color: lightgray;
  width: 600px;
  height: 250px;
  border-radius: 20px;
}

#conteneurDroit > div:nth-of-type(2) {
  height: 540px;
}

/* ----- EXERCICE 1 ----- */

#exercice1 div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 20px auto;
  animation: rotation 7s linear infinite alternate;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    background-color: yellow;
  }
  33% {
    background-color: orange;
  }
  66% {
    background-color: darkorange;
  }
  100% {
    transform: rotate(1080deg);
    background-color: red;
  }
}

/* ----- EXERCICE 2 ----- */

#exercice2 > h2 {
  margin-bottom: 20px;
}

#exercice2 > div {
  width: 20px;
  height: 130px;
  border: 1px solid green;
  margin: auto;
}

#exercice2 > div > div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: green;
  animation: chute 3s ease-in-out infinite;
}

@keyframes chute {
  0% {
    transform: translateY(0);
  }
  14% {
    transform: translateY(110px);
  }
  28% {
    transform: translateY(60px);
  }
  42% {
    transform: translateY(110px);
  }
  56% {
    transform: translateY(80px);
  }
  70% {
    transform: translateY(110px);
  }
  84% {
    transform: translateY(95px);
  }
  100% {
    transform: translateY(110px);
  }
}

/* ----- EXERCICE 3 ----- */

#exercice3 > div {
  width: 330px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#exercice3 > div div {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}

#exercice3 > div div:nth-of-type(1) {
  animation: loading 3s linear infinite;
}

#exercice3 > div div:nth-of-type(2) {
  animation: loading 3s 1000ms linear infinite;
}

#exercice3 > div div:nth-of-type(3) {
  animation: loading 3s 2000ms linear infinite;
}

@keyframes loading {
  0% {
    background-color: black;
  }
  50% {
    background-color: grey;
  }
  60% {
    background-color: white;
  }
  70% {
    background-color: grey;
  }
  100% {
    background-color: black;
  }
}

/* ----- EXERCICE 4 ----- */

#exercice4 div{
  width: 20px;
  height: 20px;
  position: relative;
  left: 520px;
  top: -20px;
}

#exercice4 div:nth-of-type(1) {
  top: -40px;
  animation: faireTourRectangle 8s linear infinite, changerCouleur 8s linear infinite;
}

#exercice4 div:nth-of-type(2) {
  top: -60px;
  animation: faireTourRectangle 8s 0.7s linear infinite, changerCouleur 8s 0.7s linear infinite;
}

#exercice4 div:nth-of-type(3) {
  top: -80px;
  animation: faireTourRectangle 8s 1.4s linear infinite, changerCouleur 8s 1.4s linear infinite;
}

#exercice4 div:nth-of-type(4) {
  top: -100px;
  animation: faireTourRectangle 8s 2.1s linear infinite, changerCouleur 8s 2.1s linear infinite;
}

#exercice4 div:nth-of-type(5) {
  top: -120px;
  animation: faireTourRectangle 8s 2.8s linear infinite, changerCouleur 8s 2.8s linear infinite;
}

#exercice4 div:nth-of-type(6) {
  top: -140px;
  animation: faireTourRectangle 8s 3.5s linear infinite, changerCouleur 8s 3.5s linear infinite;
}

@keyframes faireTourRectangle{
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0, 190px) rotate(360deg);
  }
  50% {
    transform: translate(-540px, 190px) rotate(720deg);
  }
  80% {
    transform: translate(-540px, 0) rotate(1080deg);
  }
  100% {
    transform: translate(0, 0) rotate(1440deg);
  }
}

@keyframes changerCouleur {
  0% {
    background-color: green;
  }
  15% {
    background-color: rgba(255, 99, 71, 0.5);
  }
  30% {
    background-color: tomato;
  }
  40% {
    background-color: rgba(135, 206, 235, 0.5);
  }
  50% {
    background-color: lightskyblue;
  }
  65% {
    background-color: rgba(255, 165, 0, 0.5);
  }
  80% {
    background-color: orange;
  }
  90% {
    background-color: rgb(0, 128, 0, 0.5);
  }
  100% {
    background-color: green;
  }
}

/* ----- EXERCICE 4 ----- */
