* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

hr {
  margin: 20px 0;
}

#menu {
  width: 80px;
  margin: 10px 8px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  transition: height 2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
}

#menu:hover {
  height: 90vh;
}

#conteneurGauche > div, #conteneurDroit > div {
  padding: 40px;
  background-color: lightgray;
  width: 600px;
  height: 250px;
  border-radius: 20px;
}

#exercice1 div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 20px auto;
  animation: rotation 8s alternate infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    background-color: yellow;
  }
  33% {
    transform: rotate(360deg);
    background-color: orange;
  }
  66% {
    transform: rotate(720deg);
    background-color: darkorange;
  }
  100% {
    transform: rotate(1080deg);
    background-color: red;
  }
}