* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

hr {
  margin: 20px 0;
}

#menu {
  width: 80px;
  margin: 10px 8px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  transition: height 2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
}

#menu:hover {
  height: 90vh;
}

#conteneurGauche > div, #conteneurDroit > div {
  padding: 40px;
  background-color: lightgray;
  width: 600px;
  height: 250px;
  border-radius: 20px;
}

/* ----- EXERCICE 1 ----- */

#exercice1 div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 20px auto;
  animation: rotation 7s linear infinite alternate;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    background-color: yellow;
  }
  33% {
    background-color: orange;
  }
  66% {
    background-color: darkorange;
  }
  100% {
    transform: rotate(1080deg);
    background-color: red;
  }
}

/* ----- EXERCICE 2 ----- */

#exercice2 > h2 {
  margin-bottom: 20px;
}

#exercice2 > div {
  width: 20px;
  height: 130px;
  border: 1px solid green;
  margin: auto;
}

#exercice2 > div > div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: green;
  animation: chute 3s ease-in-out infinite;
}

@keyframes chute {
  0% {
    transform: translateY(0);
  }
  14% {
    transform: translateY(110px);
  }
  28% {
    transform: translateY(60px);
  }
  42% {
    transform: translateY(110px);
  }
  56% {
    transform: translateY(80px);
  }
  70% {
    transform: translateY(110px);
  }
  84% {
    transform: translateY(95px);
  }
  100% {
    transform: translateY(110px);
  }
}